@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

EPA COLOMBIA SAS

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #1f497d;
$tertiary_color: #ffff00;
$background: #f2f2f2;
$border: #e6e6e6;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		margin: 20px 0;
	}
	.moduletable_to2 {
		label {
			display: none;
		}
		input[type=text] {
			width: inherit;
			height: inherit;
			margin: 0;
			padding: 2px;
			float: left;
			position: relative;
		}
		input[type=submit] {
			width: 24px;
			height: 24px;
			background: {
				image: url(moduletable_to2_button_bg.png);
				position: center;
				repeat: no-repeat;
			}
			border: none;
			font-size: 0;
			float: left;
			position: relative;
		}
	}
}

/* Menu */

.menu {
	background-color: $secondary_color;
	.moduletable_me1 {
		margin: 10px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			#responsive-menu {
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-item {
							a {
								color: $tertiary_color;
							}
						}
						a {
							padding: 5px 25px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								color: $tertiary_color;
							}
						}
						ul.menu {
							padding: 10px 0;
							background-color: $secondary_color;
							border: none;
							li {
								background: none;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 20px 0;
	h1 {
		margin-bottom: 20px;
		font-size: 18px;
		color: $secondary_color;
	}
	h2 {
		margin-bottom: 20px;
		font-size: 16px;
		color: $secondary_color;
	}
	.box_1 {
		padding: 20px;
		border: 1px solid $border;
	}
}

/* Home 1 */

.home_1 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_h11 {
		p {
			line-height: 16px;
		}
	}
}

/* Home 2 */

.home_2 {
	padding: 20px 0;
	.moduletable_h21 {
		h3 {
			margin-bottom: 20px;
			background: {
				image: url(moduletable_h21_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 18px;
			color: $secondary_color;
		}
		.callout {
			border-color: $border;
		}
	}
}

/* Home 3 */

.home_3 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_h31 {
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		margin-bottom: 10px;
		.moduletable_to2 {
			input[type=text] {
				width: 90%;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}